.row5 {
    width: 100%;
    height: auto;
    margin-right: -20px;
    margin-left: -20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 30px;
  }
  .row6 {
    width: 100%;
    height: auto;
    margin-right: -20px;
    margin-left: -20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 40px;
  }
.portfolio {
    position: relative;
    width: 60%;
    margin: auto;
  }
  
  .portfolio h1 {
    margin: 10px;
    font-family: Signika Negative, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  .portfolio img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  h1{
      text-align: center;
      
  }
  #row5 {
    width: 100%;
    height: auto;
    margin-right: -20px;
    margin-left: -20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 30px;
  }
  .paragraph3{
      color: white;
  }
  #h1{
      color: beige;
  }
  footer {
    height: 150px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  
  .footer ul li {
    display: inline-block;
    margin: 5px;
  }
  .headerMain {
    position: relative;
  }
  .toggleDesignLogo {
    display: none;
    text-align: center;
    font-family: Signika Negative, sans-serif;
  }
  
  .toggleDevLogo {
    display: none;
    text-align: center;
    font-family: Signika Negative, sans-serif;
  }
  
  .toggleProductLogo {
    display: none;
    text-align: center;
    font-family: Signika Negative, sans-serif;
  }
  #inlineDesign {
    text-align: center;
  }
  
  #inlineDev {
    text-align: center;
  }
  
  #inlineProduct {
    text-align: center;
  }
  
  #inline {
    text-align: center;
  }
  
  #headerImg2 {
    padding-top: 15%;
  }
  .row1 {
    width: 100%;
    height: 600px;
    padding: 0px 20px;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
  }
  
  .row1 h1 {
    position: relative;
    padding-top: 10%;
    font-weight: bold;
    color: beige;
    font-size: 40px;
  }
  .paragraph1{
      color: white;
      font-size: 30px;
      font-weight: bold;
  }
  #para{
      color: white;
      font-size: 25px;
  }
  .row3 {
    width: 100%;
    height: 300px;
    padding: 0px 20px;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    background-size: cover;
    font-size: 20px;
  }
  .paragraph3{
    color: white;
    font-size: 20px;
    font-weight: bold;
}